<!DOCTYPE html>
<html lang="en" data-ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SysAutos</title>
    <link rel="stylesheet" href="./lib/bootstrap/dist/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="./lib/angular-toastr/dist/angular-toastr.min.css" media="screen" title="no title" charset="utf-8">
</head>

<body data-ng-controller="UsuarioController as Usuario">
    <div class="modal fade" id="modalUsuario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="">Novo Usuário</h4>
                </div>
                <div class="modal-body">
                    <form name="formCadastro">
                        <div class="row">
                            <div class="radio col-md-10 col-md-offset-1">
                                inportar dados de um funcionário cadastrado:
                                <label class="radio-inline">
                                    <input type="radio" name="opcao" data-ng-required="required" id="inlineRadio1" value="nao" data-ng-model="opcao"> Não
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="opcao" data-ng-required="required" id="inlineRadio2" value="sim" data-ng-model="opcao"> Sim
                                </label>
                            </div>
                            <div class="form-group">
                                <div data-ng-show="opcao == 'sim'">
                                    <label class="text-center col-md-10 col-md-offset-1">Selecione Funcionário</label>
                                    <select data-ng-model="Usuario.usuario" data-ng-options="usuario.nome for usuario in Usuario.usuarios" class="col-md-10 col-md-offset-1">
                                    </select>
                                </div>
                                <label class="text-center col-md-10 col-md-offset-1">Nome Completo</label>
                                <input class="col-md-10 col-md-offset-1" data-ng-required="required" data-ng-disabled="Usuario.edit" type="text" data-ng-model="Usuario.usuario.nome">
                                <label class="text-center col-md-10 col-md-offset-1">Email</label>
                                <input class="col-md-10 col-md-offset-1" data-ng-required="required" data-ng-disabled="Usuario.edit" type="email" name="email" data-ng-model="Usuario.usuario.email">

                                <div class="col-md-6">
                                    <label class=" text-center col-md-10 col-md-offset-1">Data</label>
                                    <input class="col-md-8 col-md-offset-2" data-ng-required="required" data-ng-disabled="Usuario.edit" type="date" placeholder="dd/mm/aaaa" name="data" data-ng-model="Usuario.usuario.dataRegistro">
                                </div>
                                <div class="col-md-6">
                                    <label class="text-center col-md-10 col-md-offset-1">Celular</label>
                                    <input class="col-md-8 col-md-offset-2" data-ng-required="required" data-ng-disabled="Usuario.edit" type="tel" placeholder="(00) 00000-0000" name="celular" data-ng-model="Usuario.usuario.telefone">
                                </div>
                                <div class="col-md-4">
                                    <label class="text-center col-md-10 col-md-offset-2">Perfil de Acesso</label>
                                    <select data-ng-required="required" data-ng-model="Usuario.perfilInicial" data-ng-options="perfil for perfil in Usuario.perfis" class="form-control col-md-10 col-md-offset-3">
                                        <!-- ng-options -->
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn pull-left btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove-circle"></span> Cancelar</button>
                    <button type="button" data-ng-click="Usuario.save(Usuario.usuario)" data-dismiss="modal" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Salvar</button>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <button data-ng-click="Usuario.edit=false" type="button" class="btn pull-right btn-primary navbar-btn" data-toggle="modal" data-target="#modalUsuario"><span class="glyphicon glyphicon-plus"></span> Cadastrar Novo Usuário</button>
        </div>
    </nav>
    </header>
    <div class="modal fade bs-example-modal-sm" tabindex="-1" id="modalDelete" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Deseja remover este usuário?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button data-ng-click="Usuario.deletar(Usuario.usuario)" data-dismiss="modal" type="button" class="btn btn-primary">Sim</button>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <h3>Consulta Rápida</h3>
                        <input class="col-md-8 col-md-offset-2" type="text" data-ng-model="buscarUsuario">
                        <button type="button" class="btn col-md-6 col-md-offset-3 btn-primary navbar-btn"><span class="glyphicon glyphicon-search"></span> Pesquisar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Data do Cadastro</th>
                                <th>Nome Completo</th>
                                <th>E-mail</th>
                                <th>Perfil</th>
                                <th>Status</th>
                                <th>Contato</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="usuario in Usuario.usuarios | filter: buscarUsuario | limitTo: 5 track by $index">
                                <th>{{ usuario.dataRegistro | date:'dd/MM/yyyy' }}</th>
                                <th>{{ usuario.nome }}</th>
                                <th>{{ usuario.email }}</th>
                                <th>{{ usuario.perfil }}</th>
                                <th>{{ usuario.status }}</th>
                                <th>{{ usuario.telefone }}</th>
                                <th>
                                    <button data-ng-click="Usuario.edit = true" type="button" class="btn   btn-default navbar-btn" data-toggle="modal" data-target="#modalUsuario"><span class="glyphicon glyphicon-pencil"></span></button>
                                    <button type="button" class="btn   btn-danger navbar-btn" data-toggle="modal" data-target="#modalDelete"><span class="glyphicon glyphicon-remove"></span></button>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation">
                        <ul class="pagination pull-right">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <script src="./lib/jquery/dist/jquery.min.js"></script>
    <script src="./lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./lib/angular/angular.min.js"></script>
    <script src="./lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>

    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="controllers/usuario.controller.js"></script>
</body>

</html>
